body {
  margin: 0;
  background-color: #ededed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form{
  padding: 30px;
  margin-top: 60px;
  -webkit-box-shadow: -9px 7px 28px -4px rgba(0,0,0,0.54);
  -moz-box-shadow: -9px 7px 28px -4px rgba(0,0,0,0.54);
  box-shadow: -9px 7px 28px -4px rgba(0,0,0,0.54);
}

form button, form h5 {
  margin: 20px 0;
}
